.Reply__comment_textarea {
    resize: none;
    padding: 1rem 1rem 1.5rem;
    outline: none;
    border: 1px solid #f1f3f5;
    margin-bottom: 1.5rem;
    width: 100%;
    border-radius: 4px;
    min-height: 6.125rem;
    font-size: 1rem;
    color: #212529;
    line-height: 1.75;
    background: #ffffff;
}

.Reply__comment_buttons_wrapper {
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
}

/* .Reply__comment_textarea {
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
} */

.Reply__comment_buttons_cancel {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    border: none;
    background: none;
    color: #05d183;
    border-radius: 4px;
    padding: 0px 1.25rem;
    height: 2rem;
    font-size: 1rem;
}

.Reply__comment_buttons_write_comment + .Reply__comment_buttons_write_comment {
    margin-left: 0.5rem;
}

.Reply__comment_buttons_write_comment {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    border: none;
    background: #05d183;
    color: #ffffff;
    border-radius: 4px;
    padding: 0px 1.25rem;
    height: 2rem;
    font-size: 1rem;
}
