body.modal-open {
    overflow: hidden;
}

.aligncenter {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
    box-sizing: border-box;
    background-color: #21252988;
}

.wrapper {
    width: 606px;
    height: 530px;
    animation: 0.4s ease-in-out 0s 1 normal forwards running cptskd;
    border-radius: 0.93rem;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 12px 0px;
    display: flex;
    background-color: #ffffff;
}

.grayblock {
    width: 216px;
    background-color: #f8f9fa;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.LoginCharImg {
    width: 100%;
    height: auto;
    display: block;
}

.welcome {
    font-size: 1.75rem;
    margin-top: 1.5rem;
    color: #212529;
    text-align: center;
    font-weight: 600;
}

.whiteblock {
    flex: 1 1 0%;
    background: #ffffff;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
}

.exitwrapper {
    display: flex;
    justify-content: flex-end;
    font-size: 1.5rem;
    color: #868e96;
    margin-bottom: 2.25rem;
}

.blockcontent {
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
}

.whitemarginblock {
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    justify-content: space-between;
    line-height: 1.5;
}

.upperWrapper {
    /* display: flex; */
    /* flex: 1 1 0%; */
    /* flex-direction: column; */
    /* justify-content: space-between; */
    line-height: 1.5;
}

.whitemarginblock h2 {
    font-size: 1.3125rem;
    color: #212529;
    margin: 0px;
    display: block;
    margin-block-start: 3.83rem;
    margin-block-end: 0.83rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.whitemarginblock h4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #868e96;
    display: block;
    margin-block-start: 0.83rem;
    margin-block-end: 0.83rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.formstyle {
    width: 100%;
    /* display: flex; */
    height: 3rem;
}

.formstyle input {
    width: 100%;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    font-size: 1rem;
    color: #212529;
    flex: 1 1 0%;
    padding: 1rem;
    background: #ffffff;
    border-right: none;
    outline: none;
    /* ?? 잘모르겠음 */
    border-color: rgb(222, 226, 230);
    border-style: solid;
    border-width: 1px;
    border-image-source: none;
    border-image-slice: 100%;
    border-image-width: 1px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    margin-bottom: 0.6rem;
}

.formstyle input:not([type='range']):not([type='color']) {
    writing-mode: horizontal-tb !important;
}
.formstyle input:focus-visible {
    outline-offset: 0px;
}

.formstyle button {
    margin: 0.33rem 0 0 0;
    height: 100%;
    background: #05d183;
    color: #ffffff;
    font-weight: bold;
    outline: none;
    border: none;
    border-top-right-radius: 2px;
    width: 6rem;
    word-break: keep-all;
    cursor: pointer;
    float: right;
}

.foot {
    text-align: right;
}

.foot span {
    margin-right: 0.25rem;
}

.foot .link {
    display: inline-block;
    font-weight: bold;
    color: #05d183b4;
    cursor: pointer;
}

.removecolor {
    color: inherit;
    text-decoration: none;
}
