html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
div,
li,
dl,
dt,
dd,
form,
iframe,
p,
a,
span,
blockquote,
i,
figure,
fieldset,
img,
table,
th,
td,
input,
textarea,
select,
caption,
button,
pre,
small {
    margin: 0;
    padding: 0;
    outline: none;
}

.modal_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;

    /* background-color: rgba(0, 0, 0, 0.3); 투명한 검은색 배경으로 설정 */
}

button {
    appearance: none;
    font-family: inherit;
    font-size: inherit;
    border: 0;
    cursor: pointer;
    background: none;
}

.header_member__block {
    display: flex;
    position: relative;
    box-sizing: border-box;
    height: 100%;
    padding: 0 9px 0 8px;
    align-items: center;
}

.notification_count {
    animation: pulse 1.5s 1;
}

.notification_count:after {
    animation: sonar 1.5s 1;
}

.badge {
    position: absolute;
    bottom: -3px;
    right: -3px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    font-size: 12px;
    font-weight: bold;
    background-color: red; /* You can change the background color as per your design */
    color: white; /* You can change the text color as per your design */
    border-radius: 50%;
    border: 2px solid white; /* You can add a border if needed */
}

.toastify {
    font-size: 1rem;
    font-weight: bold;
}

@keyframes sonar {
    0% {
        transform: scale(0.9);
        opacity: 1;
    }

    100% {
        transform: scale(2);
        opacity: 0;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    20% {
        transform: scale(1.4);
    }

    50% {
        transform: scale(0.9);
    }

    80% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.header_member__link {
    display: inline-flex;
    padding: 4px;
    line-height: 21px;
}

button {
    appearance: none;
    font-family: inherit;
    font-size: inherit;
    border: 0;
    cursor: pointer;
    background: none;
}

.layer_header_member {
    /* display: none; */
    display: block;
    position: absolute;
    top: 100%;
    left: 50%;
    box-sizing: border-box;
    border: 1px solid #ddd;
    background-color: #fff;
    font-size: 14px;
    line-height: 1.5;
    transform: translate3d(-50%, 0, 0);
    z-index: 9999;
}

.layer_header_member:active {
    display: block;
    -webkit-animation: fadeIn 0.2s;
    animation: fadeIn 0.2s;
}

/* :active */

.newfeed_container {
    width: 345px;
}

.newsfeed_header {
    display: flex;
    padding: 17px 15px 15px 15px;
    -webkit-box-align: start;
    -ms-flex-align: start;
    /* align-items: start; */
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.newsfeed_header_notice {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: #777;
}

.newsfeed_close_button {
    padding: 6px;
    -webkit-transform: translateX(6px) translateY(-6px);
    transform: translateX(6px) translateY(-6px);
}

.layer_header_member__arrow {
    position: absolute;
    top: 0;
    left: 50%;
    margin: -13px 0 0 -12px;
}

.newsfeed_list_container {
    max-height: 521px;
    overflow-y: auto;
}

.newsfeed_item {
    padding: 16px;
    position: relative;
    cursor: pointer;
}

.newsfeed_item_read {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
    background: hsla(0, 0%, 100%, 0.4);
}

.newsfeed_item_container {
    display: flex;
}

.newsfeed_item_infobox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.newsfeed_item_infobox__date {
    font-size: 12px;
    color: #6e6e6e;
    margin-bottom: 4px;
}

.newsfeed_item_infobox__title {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 4px;
    max-width: 330px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}

.newsfeed_item_infobox__message {
    font-size: 14px;
    font-weight: 400;
    color: #6e6e6e;
    line-height: 21px;
    display: -webkit-box;
    overflow: hidden;
    white-space: pre-line;
    text-overflow: ellipsis;
    word-break: keep-all;
    overflow-wrap: break-word;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
