body {
    /* display: grid; */
    /* place-items: center; */
    color: #4a4a4a;
    font-family: 'Pretendard';
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
    background: url(../../assets/canvas-background.png), lightgray 50% / cover no-repeat;
}
/* ???? 이게 뭐지 */
#root {
    left: 0;
    top: 0;
}

main {
    flex: 1;
    padding: 20px; /* 원하는 여백을 설정 */
}

/* main과 footer를 나누는 page-container */
.page-container {
    display: flex;
    /* flex-direction 하면 한줄로 세워져서 일단 주석처리. */
    /* flex-direction: column; */
    min-height: 100vh;
    flex-direction: column;
}

/* 채팅과 방 제목 */
#room {
    z-index: 8000;
}

/* 방제목 */
#room h3 {
    z-index: 7999;
    top: 0;
    right: 0;
}

/* 그림판 캔버스 (*id: canvas랑 혼동주의)  */
.canvas {
    /* position: relative; */
    top: 0px;
    left: 0px;
    z-index: 501;
    border: 1px solid #000;
    box-sizing: border-box;
}

/* 일단 keep */
.welcome {
    /* margin: 5rem; */
    z-index: 200;
}

/* 모달 스타일 Modal / Modal-content / hideme-close */
/* 영훈: class= modal은 있는데 id= modal이 안보인다. */
.modal {
    visibility: visible;
    /* 모달을 보이도록 변경 */
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 400px;
}

.hideme-close {
    visibility: hidden;
}

/* 채팅 토글 제목 버튼 */
/* #ToggleChat {
    border: 1px solid #000;
    border-radius: 0px 10px 0px 0px;
    background: #fff;
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 373px;
    height: 34px;
    flex-shrink: 0;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
} */

/* #chat-info {
    display: none;
} */

/* #name {
    width: 371px;
    height: 34px;
    flex-shrink: 0;
    display: none;
} */

/* #SendMessage-Container {
    border: 1px solid #000;
    background: #fff;
    width: 371px;
    height: 52px;
    flex-shrink: 0;
} */

/* #msg {
    margin-top: 10px;
} */

/* #SendMessage {
    border: 1px solid #000;
    border-radius: 50px;
    background: #e3e3e3;
    width: 301px;
    height: 28px;
    flex-shrink: 0;
    margin-left: 1px;
    padding-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
} */

/* 동영상 모달 오버레이, 리사이즈 - 비디오 컨테이너 */

.video-container {
    display: none;
    width: 640px; /* Initial width */
    height: 360px; /* Initial height */
    border: 1px solid #000000;
    pointer-events: none; /* Allow interactions to pass through the video to the underlying elements */
    position: relative;
}

.video-container video {
    width: 100%;
    height: 100%;
}

.video-container2 {
    display: none;
    width: 640px; /* Initial width */
    height: 360px; /* Initial height */
    border: 1px solid #000000;
    pointer-events: none; /* Allow interactions to pass through the video to the underlying elements */
    position: relative;
}

.video-container2 video {
    width: 100%;
    height: 100%;
}

video {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: auto; /* Allow video to receive mouse events */
    /*z-index: 500; !* Ensure the canvas is above the video *!*/
}

.resizer {
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 1px solid #000;
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: se-resize;
    pointer-events: auto; /* Allow video to receive mouse events */
}

.resizer2 {
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 1px solid #000;
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: se-resize;
    pointer-events: auto; /* Allow video to receive mouse events */
}

#drawcanvas {
    position: absolute;
    border: 2px solid black;
    /* Add a border to the drawcanvas */
    z-index: 500;
}

/* 동영상 */
#uploadedFile {
    z-index: 500;
}

#uploadedFile video {
    display: none;
}

#uploadedFile2 {
    z-index: 500;
}

#uploadedFile2 video {
    display: none;
}

#call {
    display: flex;
    justify-content: center;
    top: 0px;
    position: relative;
    z-index: 500;
}

.parent-container {
    z-index: 300;
    width: 40%;
    height: 40%;
}

.mystream-center {
    z-index: 5000;
    display: flex;
    justify-content: center;
    /* 가로 중앙 정렬 */
    align-items: center;
    /* 세로 중앙 정렬 */
    /* height: 100vh; 화면 높이를 기준으로 중앙 정렬 */
}

/* 동영상 */
#myFace,
#peerFace {
    box-sizing: border-box;
    width: 352px;
    height: 198px;
    flex-shrink: 0;
    border-radius: 15px 15px 15px 15px;
    border: 1px solid #000;
    background: #d9d9d9;
}

/* #exit {
    border: #000;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    margin-left: 5px;
} */

/* Toolbar */

#toggleFooter {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2001;
    border: 1px solid #000;
    border-radius: 4px;
    background: #fff;
    width: 60px;
    height: 60px;
}

#myStream {
    position: absolute;
    width: 500px;
    height: 140px;
    /* border: 1px solid #000; */
}

.webcam-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
}

.webcam-wrapper video {
    width: 50%;
    height: 100%;
    object-fit: cover;
}

.resizer-webcam {
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 1px solid #000;
    position: absolute; /* Positioned relative to the #videoContainer element */
    bottom: 0;
    right: 0;
    cursor: se-resize;
    pointer-events: auto;
    z-index: 300;
}

/* 그림판 */

/* Toolbar */

#toggleFooter {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2001;
    border: 1px solid #000;
    border-radius: 4px;
    background: #fff;
    width: 60px;
    height: 60px;
}

/* 그림판 툴바 */
#canvas-tools-wrapper {
    width: 42px;
    height: calc(100% - 117px - (--sab));
    position: absolute;
    left: 0;
    top: 85px;
    overflow: overlay;
    z-index: 99;
    padding-top: 5px;
    background: #232527;
    text-align: center;
    -webkit-user-select: none;
    user-select: none;
    opacity: 0;
    visibility: visible;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.38s opacity ease-out;
}

#canvas-tools-inner-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 42px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

/* 채팅 content */
#info {
    box-shadow: 0px 0px 10px 1px rgb(188, 188, 188);
    backdrop-filter: blur(3px);
    background-color: rgba(255, 255, 255, 0.1);

    width: 350px;
    height: 270px;
    flex-shrink: 0;
    margin: 0;
    overflow: scroll;
    border-radius: 25px;
}

/* 채팅 */
.chat {
    position: fixed;
    bottom: 80px;
    right: 15px;
}

#ToggleChat {
    position: relative;
    z-index: 1;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    fill: #000;
}

#chat-info {
    display: none;

    opacity: 0; /* 초기 상태를 투명하게 설정 */
    transition: opacity 0.3s ease-in-out;
}

#name {
    width: 371px;
    height: 34px;
    flex-shrink: 0;
    display: none;
}

#SendMessage-Container {
    border: 1px solid #000;
    background: #fff;
    width: 371px;
    height: 52px;
    flex-shrink: 0;
}

#msg {
    margin-top: -35px;
    z-index: 2;
    /* position: absolute; 요소를 절대 위치로 설정합니다. */
    /* bottom: 0; 아래쪽으로 0px 떨어진 위치에 배치합니다. */
    /* left: 0; 왼쪽으로 0px 떨어진 위치에 배치합니다. */
    /* width: 100%; 부모 요소 너비에 맞게 설정합니다. */
    /* background-color: #ffffff; */
    /* padding: 10px; */
    /* box-sizing: border-box; */
}

#SendMessage {
    box-shadow: 0px 0px 0px 0px rgb(188, 188, 188);
    backdrop-filter: blur(1px);
    background-color: rgba(219, 219, 219, 0.335);

    position: relative;
    border: 0px solid #000;
    border-radius: 90px;
    background: #ffffff1c;
    width: 320px;
    height: 30px;
    color: #000000;
    flex-shrink: 0;
    padding: 5px 5px 5px 25px;
    margin-bottom: 9px;
    justify-content: center;
    flex: 1;
}

.msg-tab {
    position: relative;
    z-index: 1;
    width: 300px;
    height: 30px;
    padding: 10px;
}

.msg-tab p {
    margin: 1.5px 0px 0px 1.5px;
}

#Send-Btn {
    border: 1px solid #000;
    border-radius: 50px;
    background: url(../../assets/Send-Btn.png);
    background-repeat: no-repeat;
    width: 35px;
    height: 28px;
    flex-shrink: 0;
    stroke-width: 1px;
    stroke: #000;
    margin-left: 10px;
}

/* 마이크 버튼 툴팁 */
.mic-button {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.mic-button .tooltiptext {
    visibility: hidden;
    width: 50px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -30px;
    opacity: 0;
    transition: opacity 0.4s;
}

.mic-button:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* 카메라 버튼 툴팁 */
.camera-button {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.camera-button .tooltiptext {
    visibility: hidden;
    width: 50px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -30px;
    opacity: 0;
    transition: opacity 0.4s;
}

.camera-button:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* 그림판 버튼 툴팁 */
.canvas-pen-button {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.canvas-pen-button .tooltiptext {
    visibility: hidden;
    width: 50px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -30px;
    opacity: 0;
    transition: opacity 0.4s;
}

.canvas-pen-button:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* ImpactTimeReset */

.impactTimeReset {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.impactTimeReset .tooltiptext {
    visibility: hidden;
    width: 90px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -50px;
    opacity: 0;
    transition: opacity 0.4s;
}

.impactTimeReset:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* Add Skeleton 버튼 툴팁 */
.toggleAddSkeletonbutton {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.toggleAddSkeletonbutton .tooltiptext {
    visibility: hidden;
    width: 50px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -30px;
    opacity: 0;
    transition: opacity 0.4s;
}

.toggleAddSkeletonbutton:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.AddSkeletonBtn {
    position: relative;
    z-index: 1;

    width: 40px;
    height: 40px;
    background-color: var(--hotlane-custom-background-color);
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.535);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.AddSkeletonBtn .addSkeleton {
    color: #fff;
    font-size: large;
    font-weight: bold;
}

.AddSkeletonBtn:hover .addSkeleton {
    color: #000;
}

.AddSkeletonBtn.active {
    background-color: #8eb6f7;
}

.AddSkeletonBtn .tooltiptext {
    visibility: hidden;
    width: 125px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 20%;
    right: 50%;
    margin-right: 30px;
    opacity: 0;
    transition: opacity 0.4s;
}

.AddSkeletonBtn:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* toggleImpactTime 버튼 툴팁 */

.toggleImpactTimebutton {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.toggleImpactTimebutton .ImpactTooltiptext {
    visibility: hidden;
    width: 50px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -30px;
    opacity: 0;
    transition: opacity 0.4s;
}

.toggleImpactTimebutton:hover .ImpactTooltiptext {
    visibility: visible;
    opacity: 1;
}

.impactTimeBtn {
    position: relative;
    z-index: 1;

    width: 40px;
    height: 40px;
    background-color: var(--hotlane-custom-background-color);
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.535);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

/* .impactTimeBtn.active {
    background-color: #8eb6f7;
} */

.impactTimeBtn .impact {
    color: #fff;
    font-size: large;
    font-weight: bold;
}

.impactTimeBtn:hover .impact {
    color: #000;
}

.impactTimeBtn .tooltiptext {
    visibility: hidden;
    width: 90px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 20%;
    left: 50%;
    margin-left: 30px;
    opacity: 0;
    transition: opacity 0.4s;
}

.impactTimeBtn:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* Exit 버튼 툴팁 */
.exit-button {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.exit-button .tooltiptext {
    visibility: hidden;
    width: 50px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -30px;
    opacity: 0;
    transition: opacity 0.4s;
}

.exit-button:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* 유사도 alert  */

.alert {
    position: fixed;
    bottom: -300px; /* 초기 위치를 화면 밖으로 설정 */
    left: 50%;
    transform: translateX(-50%);
    padding: 30px;
    font-size: xx-large;
    font-weight: 350;
    background-color: #9acae4;
    color: rgb(0, 0, 0);
    box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.535);
    backdrop-filter: blur(1px);
    border-radius: 15px;
    z-index: 1000;
    transition: bottom 0.3s ease; /* 애니메이션 효과 */
    width: 700px;
    text-align: center; /* 중앙 정렬 */
}

.full-body-similarity {
    font-size: xx-large;
    font-weight: 700;
}

.upper-body-similarity {
    font-size: xx-large;
}

.lower-body-similarity {
    font-size: xx-large;
}
/* 로딩 스피너 관련 부분 */
.loading-spinner {
    /* position: absolute; */
    /* top: 50%; */
    /* left: 50%; */
    /* width: 100%; */
    /* height: 100%; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* background-color: rgba(0, 0, 0, 0.5); */
    /* transform: translate(-50%, -50%); */
    /* z-index: 10; Ensure it's above other elements */
    position: absolute;
    top: 50%;
    left: 50%;
    /* width: 100%; */
    /* height: 100%; */
    /* background-color: rgba(0, 0, 0, 0.5); */
    /* z-index: 0; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    border: 5px solid rgb(133, 133, 133);
    border-radius: 50%;
    border-top: 5px solid #000000;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
