.body {
    overflow-y: initial;
    transition: background 0.125s;
}

#root {
    height: 100%;
}

.contentschild label {
    font-weight: bold;
    font-size: 1.125rem;
    color: #212529;
    margin-bottom: 1rem;
    transition: all 0.125s ease-in 0s;
}

.contentschild label {
    display: block;
    line-height: 1.5;
}
.contentschild input {
    display: block;
    line-height: 1.5;
}

.contentschild input {
    background: transparent;
    font-size: 1.5rem;
    border: none;
    outline: none;
    width: 100%;
    color: #495057;
    transition: all 0.125s ease-in 0s;
}
.group {
    display: inline-block;
    max-width: 100%;
}

.inputWrapper {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #adb5bd;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.contentschild .widthMaker {
    max-width: 100%;
    display: inline-block;
    visibility: hidden;
    font-size: 1.5rem;
    overflow: hidden;
    line-height: 0;
}

.formBottom {
    margin-top: 6rem;
}

.error {
    margin-bottom: 1rem;
    font-size: 1.125rem;
    line-height: 1.5;
    color: rgb(255, 107, 107);
}

.buttonGray {
    height: 3rem;
    font-size: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 1.5rem;
    border: none;
    outline: none;
    font-weight: bold;
    word-break: keep-all;
    background: #dee2e6;
    color: #212529;
    transition: all 0.125s ease-in 0s;
    cursor: pointer;
}

.buttonTeal {
    margin-left: 1rem;

    height: 3rem;
    font-size: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 1.5rem;
    border: none;
    outline: none;
    font-weight: bold;
    word-break: keep-all;
    background: #05d183;
    color: #ffffff;
    transition: all 0.125s ease-in 0s;
    cursor: pointer;
}
