<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body onload="autoJoinRoom()">
    <form id="sendMessage">
        <input type="text" id="messageInput"/>
        <button id="button">Send</button>
    </form>

    <form id="sendRoomMessage">
        <input type="text" id="roomMessageInput"/>
        <button id="button">Send</button> 
    </form>


    <h5>방 입력</h5>
    <form id="joinRoom">
        <input type="text" id="roomName"/>
        <button id="button">Send</button>
    </form>

    <ul id="messages"></ul>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/socketcode.js"></script>
</body>
</html>