.h3 {
    text-align: center;
    /* v폰트 */
    color: #212121;
    text-align: center;
    margin: 1rem 0;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.475rem; /* 110% */
    letter-spacing: -0.1125rem;
}
.margin {
    margin-top: 2rem;
}

.colWithBorderRight {
    border-right: 0.3px solid #0000002f; /* 세로 선의 두께와 색상 */
    height: 50%; /* 컬럼의 높이를 최대로 설정 */
    display: flex;
    flex-direction: column;
    justify-content: center; /* 세로로 가운데 정렬을 위해 추가 */
}

.button {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    width: 50%;
    height: 2.6875rem;
    margin: 0.5rem auto;
    padding: 0.7rem 1.905rem; /* 절반으로 줄입니다 (원래 가로 길이의 절반) */
    border-radius: 0.625rem;
    border: 1px solid #05d182;
    color: #05d182;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.25rem;
    letter-spacing: -0.04375rem;
    background-color: rgba(255, 255, 255, 0.596);
}

.button a {
    color: inherit;
    text-decoration: none;
}
