.font__mentee {
    color: #1b1c1d;
    font-family: Pretendard;
    font-size: 1.625rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.4375rem; /* 150% */
    letter-spacing: -0.01875rem;
    margin: 2rem 2.56rem 1.5rem;
}

.margin {
    margin: 3.5rem 1rem;
}
