<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/api/account/logout" method="GET">
        <button type="submit">logout</button>
    </form>
    <form action="/api/account/mypage" method="GET">
        <button type="submit">mypage</button>
    </form>
    <form action="/api/content/findallcontents" method="GET">
        <button type="submit">findallcontents</button>
    </form>
    <!-- <form action="/api/account/findcontent" method="GET">
        <button type="submit">findcontent</button>
    </form> -->
</body>
</html>